.work {
  background-color: rgba(19, 46, 135, 0.165);
  background-image: url('https://64.media.tumblr.com/fa143cffbc3bfb0183302cdad6aa5238/tumblr_pq229bewd61uzwgsuo1_400.gif');/* Add the URL of your GIF here */
  background-size: cover; /* Adjust this property to 'contain' if you want the entire GIF to be visible */
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 120px;
  transition: background-color 2s ease-in-out;
  animation: background-glow 5s infinite alternate ease-in-out;
}

@keyframes background-glow {
  from {
    background-color: #1387812a;
  }
  to {
    background-color: #1e1e2c2a;
  }
}

.work-exp {
  padding: 60px 0px;
}

.work-exp h2 {
  font-weight: bold;
  color: #1e1e2c;
  animation: heading-entrance 1s ease-in-out forwards;
}

@keyframes heading-entrance {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.work-exp hr {
  color: #138781;
  width: 400px;
  margin: 10px auto;
  animation: line-appear 0.5s ease-in-out forwards;
}

@keyframes line-appear {
  from {
    width: 0;
  }
  to {
    width: 400px;
  }
}

.work-exp .vertical-timeline-element-title {
  color: #138781;
}

.work-exp .vertical-timeline-element-subtitle {
  color: #1d1d385d;
}

/*=================mobile view=========*/
@media (max-width: 600px) {
  .work {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 50px;
  }

  .work hr {
    width: 200px;
  }
}
