/* Project CSS */
.project {
  margin-right: 100px;
  margin-left: 100px;
  padding-bottom: 5px;
  width: 100%;
}

.project hr {
  color: #138781;
  width: 400px;
  margin: 10px auto;
}

.project h2 {
  font-weight: bold;
  color: #598b89;
}

#ads {
  margin: 30px auto; /* Center the container */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust for equal spacing between projects */
}

#ads .col-md-4 {
  margin: 10px; /* Adjust margin between cards */
  padding-top: 15px;
  flex: 0 0 calc(50% - 20px); /* Adjust width of each card to take 50% */
  max-width: calc(50% - 20px); /* Adjust max width to take 50% */
}

#ads .card-notify-badge {
  position: absolute;
  left: -10px;
  top: -28px;
  background: #f29f67;
  text-align: center;
  border-radius: 30px;
  color: black;
  padding: 5px 10px;
  font-size: 14px;
}

.project .card img {
  height: 200px;
  width: 100%;
}

.card-detail-badge {
  background-color: #f5d311;
  text-align: center;
  border-radius: 30px;
  color: black;
  padding: 5px 10px;
  font-size: 14px;
}

.card-image-overly {
  font-size: 20px;
}

.card-image-overly span {
  display: inline-block;
  margin-left: 5px;
}

.project .card:hover {
  background-color: white;
  border-radius: 4px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: all 1s ease;
}

.ad-btn {
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  display: block;
  text-align: center;
  background-color: #17d6a6b2;
  color: white;
  border-radius: 80px;
  font-size: 16px;
  line-height: 35px;
  text-decoration: none;
  margin: 20px auto;
  overflow: hidden;
  position: relative;
}

.ad-btn:hover {
  background-color: white;
  color: #138781;
  border: 2px solid #138781;
}

/* Responsive CSS */
@media (max-width: 600px) {
  .project {
    margin: 0 auto; /* Center the container */
    width: 90%; /* Adjust container width */
  }

  .project hr {
    width: 100%; /* Adjust to full width */
  }

  #ads .col-md-4 {
    flex: 0 0 100%; /* Take full width on smaller screens */
    max-width: 100%; /* Take full width on smaller screens */
  }
}
